<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tasky | Log in</title>
    <!-- Style dependencies -->
    <link href="https://unpkg.com/normalize.css" rel="stylesheet" />
    <!-- Blueprint stylesheets -->
    <link href="https://unpkg.com/@blueprintjs/icons/lib/css/blueprint-icons.css" rel="stylesheet" />
    <link href="https://unpkg.com/@blueprintjs/core/lib/css/blueprint.css" rel="stylesheet" />
  <body>
    <a href="/auth/google/sign_in">Sign in with Google</a>
  </body>
</html>
